/* GLOBAL RULES */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --white: #fff;
    --light-grey: #D3D3D3;
    --dark-grey: #333;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
}
/****************************************/
/************ GLOBAL header *************/
/****************************************/
header {
    background-color: var(--white);
    padding: 1rem;
}

#header-form {
    position: relative;
}

#header-form label {
    visibility: hidden;
    position: absolute;
}

#header-form input {
    border: 1px solid var(--black);
    background-color: var(--white);
    padding: 0.5rem 1rem;
}

#search-btn {
    border: 1px solid var(--black);
    background-color: var(--white);
    padding: 0.5rem 1rem;
}

nav ul {
    list-style: none;
}

nav ul li:nth-child(3) {
    font-size: 1.5rem;
}

nav ul li {
   margin: 1rem 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--black);
}


/****************************************/
/********** GLOBAL footer ***************/
/****************************************/

footer {
    border-top: 1px solid var(--black);
    margin: 1rem;
}

footer section {
    margin: 2rem 0;
}


#contact-index ul,
#shortcuts ul,
#social-media ul {
    list-style: none;
    margin-top: 1rem;
}

#contact-index ul li i,
#social-media ul li a i {
    margin: 0.5rem;
}

#shortcuts li {
    margin-top: 1rem;
}

#shortcuts ul li a,
#social-media ul li a {
    text-decoration: none;
}

#shortcuts ul li a {
    color: var(--black);
}

#social-media ul li a i {
    color: var(--black);
    font-size: 1.5rem;
}

/****************************************/
/************ FORSIDE index.html*********/
/****************************************/

#banner {
    background-color: var(--light-grey);
    padding: 3rem 4rem;
    margin: 2rem 1rem;
    text-align: right;
}

#banner h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#banner p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

#banner a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 600;
    background-color: var(--white);
    padding: 1rem;
    cursor: pointer;
} 

/* Produktkort */

#pop-products {
    width: 100%;
    padding: 1rem;
}

#pop-products h2 {
    margin: 1rem 0;
    font-size: 1.6rem;
}

.pop-btn {
    border: 1px solid var(--black);
    background-color: var(--white);
    padding: 1rem;
    margin: 2rem 0.5rem;
}

.product-card {
    max-width: 400px;
    min-width: 200px;
    width: 100%;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.product-card p {
    margin: 1rem 0;
}


/* Kategoritkort */

#pop-category {
    width: 100%;
    padding: 1rem;
}

#pop-category h2 {
    margin: 1rem 0;
    font-size: 1.6rem;
}

.category-card {
    width: min(96%, 400px);
    height: 300px;
    border: 1px solid var(--black);
    margin: 1rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* Anmeldelser */

#reviews {
    width: 100%;
    padding: 1rem;
}

.review-card {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-card h5 {
    font-size: 1.2rem;
    margin: 1rem 0;
}

/****************************************/
/*********** Produkt product.html********/
/****************************************/

#product-section h1 {
    visibility: hidden;
}

.bread-crumbs {
    width: 100%;
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 0 1rem; 
    margin: 1rem 0;
}

.bread-crumbs li {
    margin-right: 1rem;
}

.bread-crumbs li a {
    text-decoration: none;
    color: var(--black);
}

.bread-crumbs li:nth-child(3) {
    font-weight: bold;
}

#product-section, 
#similar-product {
    width: 100%;
    margin-top: 1rem;
}

.product-images {
    display: flex;
    flex-direction: column;
}

.product-image {
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    padding: 0 1rem; 
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-card-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.product-card-info h3 {
    font-size: 1.5rem;
}

#similar-product {
    padding: 1rem;
}

#similar-product h2 {
    padding-left: 1rem;
    margin-bottom: 1rem;
}


/*****************************************/
/********* Kasseside checkout.html********/
/*****************************************/

#checkout {
    width: 100%;
    padding: 1rem;
}

#checkout h1 {
    margin: 1rem 0;
    font-size: 2rem;
}

#shopping-bag, 
#information,
#delivery,
#payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    margin-top: 1rem;
}

#shopping-bag, 
#information,
#delivery,
#payment, .checkout-title {
    margin-bottom: 1rem;
}

.checkout-title {
    font-size: 2rem;
    text-transform: uppercase;
}
/* 1. Shopping bagen din */

.shoppingbag-item {
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    padding: 1rem 0;
}

.shoppingbag-item img {
    max-width: 100%;
    height: auto;
}

.shoppingbag-item h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.shoppingbag-item p {
    font-size: 1rem;
}

/* 2. Dine opplysninger */

#form-information {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: relative;
}

#form-information p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

#form-information label {
    visibility: hidden;
    position: absolute;
}

#form-information input {
    border: 1px solid var(--black);
    background-color: var(--white);
    padding: 1rem;
    margin: 2px 0;
}

.form-info-btn {
   background-color: var(--dark-grey);
   color: var(--white);
   width: fit-content;
   padding: 1rem;
   margin: 2rem 0;
}

#form-info-abort {
    text-transform: capitalize;
    font-size: 1rem;
}


/* 3. Levering */
#form-delivery h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#form-delivery label {
    font-size: 1rem;
    font-weight: bold;
}

/* 4. Betaling */

#form-payment {
    display: flex;
    flex-direction: column;
}

#form-payment h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#form-payment input {
    border: 1px solid var(--black);
    background-color: var(--white);
    padding: 1rem;
    margin: 2px 0;
}

#form-payment label {
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}

.checkboxes p {
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
}

.checkboxes label {
    font-size: 1rem;
    font-weight: 600;
}
