/* GLOBAL RULES */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --white: #fff;
    --lighter-grey: #F3F3F3;
    --light-grey: #D3D3D3;
    --grey: #808080;
    --dark-grey: #333;
    --black: #000;
    --peach: #FFA7A6;

    --calc-responsive-width: calc(100% - 2rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    max-width: 1200px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
}


/* buttons */

.white-btn {
    border: 1px solid var(--grey);
    background-color: var(--white);
    padding: 1rem;
}

.black-btn {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 1rem;
    border: none;
}

.not-visible {
    display: none;
}

/*********************************************************************************/
/******************************* GLOBAL header ***********************************/
/*********************************************************************************/
header {
    background-color: var(--white);
    width: var(--calc-responsive-width);
    padding: 1rem;
    margin: 0 auto;
}

.search-container {
    width: 200px;
    margin: 0;
    position: relative;
}

.search-container label {
    display: none;
}

#search-bar {
    width: 100%;
    padding: 0.8rem; 
    border: 2px solid var(--grey);
    border-radius: 30px;
    font-size: 0.8rem;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%); 
    color: var(--dark-grey);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

#logo {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--black);
    padding: 1rem 0;
}

nav ul li {
   margin: 1.5rem 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--black);
}

nav .nav-icons {
    display: flex;
    flex-direction: row;
    padding: 0; 
    margin: 0;
    curosr: pointer;
}

nav .nav-icons li {
    margin: 0 1rem;
    font-size: 1.2rem;
}

/*********************************************************************************/
/**************************** GLOBAL footer **************************************/
/*********************************************************************************/

footer {
    border-top: 1px solid var(--black);
    margin: 1rem 0.5rem;
    padding: 1rem 0;
    width: 100%;
}

footer #footer-sec-1 {
   margin-top: 1rem;
}

footer #footer-sec-1 a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--black);
}

footer #footer-sec-1 a h3 {
    margin-top: 2rem 0;
    margin-bottom: 1rem;
}

footer #footer-sec-2 {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer #footer-sec-2 h4 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 1rem 0;
}

/************* Kontakt, Snarveier & Sosiale medier *********************/

#contact-index,
#shortcuts,
#social-media {
    margin-top: 1rem;
}

#shortcuts {
    width: 30%;
}

#contact-index ul,
#shortcuts ul,
#social-media ul {
    list-style: none;
    margin-top: 1rem;
}

#contact-index ul li i,
#social-media ul li a i {
    margin: 0.5rem;
    color: var(--black);
    font-size: 0.9rem;
}
#contact-index ul li,
#shortcuts ul li {
    font-size: 0.8rem;
}

#shortcuts ul li a,
#social-media ul li a {
    text-decoration: none;
    color: var(--black);
}

/* Kontakt */
#contact-index {
    width: 70%;
}

#contact-index li span {
    font-weight: 600;   
}

/* Snarveier */
#shortcuts li {
    margin-top: 1rem;
}

/* Sosiale medier */
#social-media ul {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

/*********************************************************************************/
/*************************** FORSIDE index.html***********************************/
/*********************************************************************************/

/*** Banner ***/

#banner {
    width: var(--calc-responsive-width);
    margin: 0 auto;
} 

.banner-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 500px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-img1 {
    background-image: url('/bilder/banner1.jpg');
}
/* Kilde: https://pixabay.com/photos/fall-fog-light-nature-stuttgart-7863868/ */
.banner-img2 {
    background-image: url('/bilder/banner2.jpg');
    display: none;
}
/* Kilde: https://pixabay.com/photos/mountains-fog-fall-landscape-6964950/ */

.banner-img3 {
    background-image: url('/bilder/banner3.jpg');
    display: none;
}
/* Kilde: https://pixabay.com/photos/milkyway-stars-astrology-galaxy-8190232/ */

.banner-title {
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
    width: 50%;
}

.banner-text {
    color: var(--black);
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 2rem;
    width: 50%;
}

.text-right {
    text-align: right;
    align-self: flex-end;
    margin-right: 1rem;
}

.text-left {
    text-align: left;
    align-self: flex-start;
    margin-left: 1rem;
}

.text-white {
    color: var(--white);
}

.banner-btn {
    width: fit-content;
    border: none;
    border-radius: 20px; 
    padding: 0.5rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.banner-btn-light {
    background-color: var(--white);
    color: var(--black);
}

.banner-slider-btns {
    display: none;
}

/*************** Produktkort & Kategorikort *************************/

#pop-products,
#pop-category {
    width: var(--calc-responsive-width);
    margin: 0 auto;
}

#pop-products h1,
#pop-category h2,
#revirews h2 {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.6rem;
    text-align: center;
}

#pop-products p,
#pop-category p {
    text-align: center;
}

/************************** Produktkort ************************/

.pop-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}

.pop-btn {
    border: 1px solid var(--black);
    border-radius: 20px;
    background-color: var(--white);
    font-size: 0.7rem;
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.pop-btn.active {
    background-color: var(--dark-grey);
    color: var(--white);
}

#product-cards {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#product-cards a {
    text-decoration: none;
    color: var(--black);
}

.product-card {
    margin-bottom: 2rem;
    max-width: 350px;
    position: relative;
}

.product-card-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--light-grey);
    color: var(--white);
    border-radius: 50%;
}

.product-card picture,
.product-card img {
    width: 100%;
    min-width: 250px;
    border-radius: 20px;
    height: auto;
}

.product-card-info {
    display: flex;
    flex-direction: column;
}

.product-card-info h3 {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.product-card-info p {
    margin: 1rem 0;
}

.product-card-info ul {
    list-style: none;
}

.product-card-info ul li {
    margin-right: 0.3rem;
}

.card-info1,
.card-info2 {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 0.8rem;
}

.card-info1 {
    justify-content: space-between;
}

.card-info1 li:first-child {
    font-weight: 600;
    font-size: 1rem;
}

.card-info2:last-child {
    font-weight: 600;
}

/***************************** Kategoritkort **************************/

.categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
}

.category-card {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    margin-top: 1rem;

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;

    position: relative;
    overflow: hidden;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
    width: 100%;
    min-height: 300px;
    height: 100%;
}

.category-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: 1;
}

.category-card h4 {
    position: absolute;
    text-transform: uppercase;
    color: var(--white);
    z-index: 2;
}

.card1::before  {
    background-image: url('/bilder/1.jpg'); 
}

.card2::before  {
    background-image: url('/bilder/2.jpg'); 
}

.card3::before  {
    background-image: url('/bilder/3.jpg');
}

.card4::before  {
    background-image: url('/bilder/4.jpg'); 
}

.card5::before  {
    background-image: url('/bilder/5.jpg'); 
}
/*
Kilde til bilder:
https://pixabay.com/photos/women-lavender-nature-guadalajara-7341444/
https://pixabay.com/photos/cabinet-clothes-garments-wardrobe-1853504/
https://pixabay.com/photos/girl-model-dark-storytelling-7231594/
https://pixabay.com/photos/woman-girl-shadow-old-iran-dark-8380758/
https://pixabay.com/photos/background-bigroot-geranium-bright-8653526/
*/

/******************************* Anmeldelser ************************/

#reviews {
    max-width: 400px; 
    padding: 1rem;
}

.review-cards {
    padding: 1rem 0;
}

.review-card {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid var(--light-grey);
    border-radius: 20px;
}

.review-card img {
    max-width: 150px;
    border-radius: 50%;
    height: auto;
}

.review-card h5 {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.review-card ul {
    list-style: none;
    display: flex;
}

.review-card ul li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.review-card p {
    margin-top: 0.5rem;
}

/* Side scroll */

.side-scroll-parent {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    max-width: 100%;
}

.side-scroll-child {
    flex: 0 0 auto;
}

/*********************************************************************************/
/*************************** Produktside product.html*********************************/
/*********************************************************************************/

#product-section, 
#similar-product, 
#reviews {
    width: 100%;
    margin-top: 1rem;
}


/* brødsmulesti*/
#product-section h1 {
    visibility: hidden;
}

.bread-crumbs {
    width: 100%;
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 0 1rem; 
    margin: 1rem 0;
}

.bread-crumbs li a {
    text-decoration: none;
    color: var(--black);
    padding: 0.5rem;
}

.bread-crumbs li:nth-child(3) {
    font-weight: bold;
}

/******************* Produkt ********************/

.products {
    display: flex;
    flex-direction: column;
}

.product-images {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    /* max-width: 500px; */
    height: auto;
}

.product-image {
    padding: 0.5rem;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prod1 {
    grid-row: 1;
    grid-column: 1;
}
.prod2 {
    grid-row: 2;
    grid-column: 1;
}
.prod3 {
    grid-row: 3;
    grid-column: 1;
}
.prod4 {
    grid-row: 1 /4;
    grid-column: 2 / 3;
}

.product-info-section {
    display: flex;
    flex-direction: column;
}

.product-info {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-info a {
    color: var(--dark-grey);
}

.product-info span {
    font-weight: 600;
}

.product-info label {
    display: none;
}

.product-info select {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}

.product-info select:focus {
    border: 1px solid var(--dark-grey);
}

.product-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.product-btns button {
    cursor: pointer;
}

.prod-btn {
    width: 100%;
}

/**************************** Details **************************/

.details-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

.details-section details {
    padding: 1rem;
    border-top: 1px solid var(--dark-grey);
}

.detail-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.details-section summary {
    position: relative;
    font-weight: 600;
    font-size: 0.9rem;
}

.details-section ul {
    padding: 1rem 2rem;
}

.details-section ul li {
    font-size: 0.9rem;
}

.details-section p {
    font-size: 0.9rem;
    padding: 1rem 0;
}

/* Size chart */

.details-section table {
    width: 100%;
    border-collapse: collapse;
}

.details-section table {
    font-size: 0.8rem;
}

.details-section table th {
    font-weight: 600;
    text-align: left;
}

.details-section table td {
    padding-bottom: 0.rem;
}

/* Details Anmeldelser */

.details-container {
    position: relative;
}

.details-title-icon {
    display: flex;
    align-items: center;
    position: absolute;
    list-style: none;
    right: 0;
    top: 30px;
    z-index: 100;
    padding:0;
    margin:0;
}

.details-review {
    position: relative;
    margin-top: 2rem; 
}

.details-review-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem 0;
    border: 1px solid var(--light-grey);
    border-radius: 30px;
    max-width: 500px;
}

.details-review-card ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin:0;
}

/********************** lignende produkter *********************/

#similar-product {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#similar-product h2 {
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.similar-arrow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 1rem;
    top: 0;
    right: 0;
}

.similar-arrow a {
    margin-right: 0.5rem;
    font-size: 0.8rem;
}

.similar-products a {
    text-decoration: none;
    color: var(--black);
}

.similar-products {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem;

    width: 95vw;
}

/* Horisontal scroll for similar products*/
.similar-scroll-child {
    flex: 0 0 auto;
    max-width: 300px;
}

/*********************************************************************************/
/*************************** Kasseside checkout.html *****************************/
/*********************************************************************************/

#checkout {
    width: 100%;
    padding: 1rem;
}

.fortsetthandle {
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

#checkout h1 {
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
}

#checkout h2 {
    font-size: 1.2rem;
}

#checkout h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
}

#shopping-bag, 
#information,
#delivery,
#payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    margin: 2rem 0;
    border: 1px solid var(--light-grey);
}

.checkout-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    width: 100%;
}
/*********** 1. Shopping bagen din **************/

.shoppingbag-item {
    width: 100%;
    height: calc(200px * 2, auto);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 0;
}

.shoppingbag-item img {
    max-width: 160px;
    height: auto;
}

.shoppingbag-info {
    line-height: 1.5rem;
    margin: 1rem;
  }

.shoppingbag-info h3 {
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2rem;
  }

.shoppingbag-info ul {
    list-style: none;
  }

.shoppingbag-item label {
    font-size: 0.9rem;
}

.shoppingbag-item select {
    background-color: var(--light-grey);
    border: none;
    padding: 0.5rem;
    font-size: 0.6rem;
}

.shoppingbag-item input {
    padding: 0.5rem;
    border: 1px solid var(--light-grey);
    color: var(--black);
}

.shoppingbag-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-top: 2rem;
}

.shoppingbag-icons li {
    margin-right: 1rem;
}

/*************** 2. Dine opplysninger ***************/

.form-information {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 2rem;
}

.form-information fieldset {
    border: none;
    margin-bottom: 1rem;
}

.form-information legend {
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.form-information label {
   color: var(--dark-grey);
   font-weight: 600;
   font-size: 0.9rem;
}

.form-information input {
    border: 1px solid var(--light-grey);
    background-color: var(--white);
    padding: 1rem;
    margin: 5px 0;
    width: 100%;
}

.form-info-btn {
   background-color: var(--dark-grey);
   color: var(--white);
   width: 100%;
   padding: 1rem;
   margin: 2rem 0;
   border: none;
}

#form-info-abort {
    text-transform: capitalize;
    font-size: 1rem;
    text-align: center;
}

/****************** 3. Levering ***************/

#form-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delivery-option {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--light-grey);
}

.delivery-option legend {
    margin: 1rem 0;
}

.delivery-option input[type="radio"] {
    margin-right: 0.5rem;
}

.delivery-option label {
    font-size: 0.9rem;
    font-weight: bold;
}

.delivery-option ul {
    list-style: none;
}

.delivery-option ul li {
    margin: 1rem 0;
    font-size: 0.8rem;
}

.delivery-option ul li:first-child {
    font-weight: 600;
    color: var(--grey);
}

.delivery-option ul li span {
    margin-right: 0.5rem;
}

/******************* 4. Betaling ****************/

#form-payment {
    display: flex;
    flex-direction: column;
}

#form-payment fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

#form-payment input {
    border: 1px solid var(--light-grey);
    background-color: var(--white);
    padding: 1rem;
    margin: 2px 0;
}

#form-payment label {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: capitalize;
}

.checkboxes {
    display: flex;
    flex-direction: column;
}

.checkboxes #price {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
    align-self: center;
}

.checkboxes h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0;
    align-self: center;
}

.checkboxes p {
    font-size: 0.8rem;
    margin: 1rem;
    align-self: center;
    text-align: center;
}

.checkboxes label {
    font-size: 0.8rem;
}

.checkboxes fieldset {
    border: none;
    text-align: center;
}

/*********************************************************************************/
/***************************** MEDIA QUERIES: TABLET *****************************/
/*********************************************************************************/

@media only screen and (min-width: 768px){

    /* Global header */
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        gap: 2rem;
        margin: 1rem 0;
    }
    /* Footer*/

    footer {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0 auto;
    }

    footer #footer-sec-2 {
        flex-wrap: nowrap;
        gap: 0;
    }

    #contact-index {
        width: 50%;
    }

    #contact-index ul li,
    #shortcuts ul li {
    font-size: 1rem;
    }

    #footer-sec-2 h4 {
        font-size: 1.2rem;
    }

    /******************** Forside *************************/
    .banner-image {
        min-height: 400px;
    }

    .pop-btns {
        margin: 1rem 0;
    }

    .product-card picture,
    .product-card img {
        width: 100%;
        max-width: 600px;
        border-radius: 20px;
        height: auto;
    }

    .categories {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .card3 {
        grid-column: span 2;
        grid-row: 2;
    }

    #reviews {
        max-width: 800px;
    }

    .review-card p {
        margin
    }

     /******************** Produktside product *************************/


     .product-images {
        max-width: 700px;
        padding: 1rem;
     }

     .product-info {
        padding: 0 2rem;
    }

    .details-section {
        padding: 2rem;
        margin: 0 auto;
        width: 90%;
    }

    #similar-product {
       /*  max-width: 800px; */
        gap: 1rem;
    }

    #similar-product h2 {
        font-size: 1.2rem;
    }

    .similar-arrow a {
        margin-right: 0.5rem;
        font-size: 0.9rem;
    }

    /******************** Kasseside checkout *************************/

    .shoppingbag-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .delivery-option {
        width: 100%;
        margin: 1rem 0;
        position: relative;
    }

    .delivery-icon {
        position: absolute;
        top: 0;
        right: 1rem;
    }
}

/*********************************************************************************/
/***************************** MEDIA QUERIES: DESKTOP *****************************/
/*********************************************************************************/

@media screen and (min-width: 1025px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }
    /************ GLOBAL header *************/

    header {
        width: 100%;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        gap: 3rem;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-links {
        gap: 1rem;
    }

    .nav-links a:hover {
        text-decoration: underline;
    }

    #logo:hover {
        text-decoration: none;

    }

    nav .nav-icons li {
        margin: 0.5rem;
    }

    #cart {
        display: block;
        transition: transform 0.3s ease-in-out;
    }
    #cart:hover {
       transform: scale(1.2);
    }

    .search-container {
        margin: 0;
        width: 350px;
    }

    /********** GLOBAL footer ***************/

    footer {
        padding: 0;
        margin-bottom: 2rem;
    }

    #footer-sec-1 h3 {
        margin-top: 2rem;
    }

    #contact-index,
    #shortcuts,
    #social-media {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    #contact-index ul,
    #shortcuts ul,
    #social-media ul {
        list-style: none;
        margin-top: 0;
    }

    #social-media ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        gap: 0;
    }

    /************************************** Forside ***************************************/
    /********** Banner ***************/

    #banner {
        min-height: 500px;
        position: relative;
    }
    
     .banner-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
     }
     .banner-img2 {
        background-image: url('/bilder/banner2.jpg');
        display: flex;
    }
    /* Image by <a href="https://pixabay.com/users/shogun-1310047/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6964950">Karl Egger</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6964950">Pixabay</a>*/
    
    .banner-img3 {
        background-image: url('/bilder/banner3.jpg');
        display: flex;
    }
    /*Image by <a href="https://pixabay.com/users/lobostudiohamburg-13838/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1629079">Thomas Ulrich</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1629079">Pixabay</a>*/
    
    .banner-btn {
        font-weight: 600;
        padding: 0.8rem;
        text-transform: uppercase;
    }

    .banner-btn-dark {
        background-color: var(--dark-grey);
        color: var(--white);
    }

    .banner-text {
        width: 40%;
    }

    .banner-title {
        font-size: 2rem;
        width: 40%;
        padding: 0 1rem;
    }

    .text-right {
        margin-right: 2rem;
        padding-right: 1rem;
    }

    .text-left {
        margin-left: 2rem;
        padding-left: 1rem;
    }

    .banner-slider-btns {
        width: 100%;
        max-width: 1200px;
        position: absolute;
        padding: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .banner-slider-btn {
       border: none;
       background-color: var(--lighter-grey);
       padding: 0.8rem;
       border-radius: 50%;
       z-index: 101;
    }

    /************************ produktkort *******************/

    #pop-products,
    #pop-category {
        margin-top: 2rem;
    }

    #pop-products h2,
    #pop-category h2 {
    font-size: 2rem;
    }

    #pop-products p,
    #pop-category p {
    text-align: center;
    margin: 1rem 0;
    }

    #product-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .product-card-icon:hover {
        background-color: var(--peach);
        transition: 0.5s;
    }

    .pop-btns {
        width: 40%;
        margin: 0 auto;
        padding: 0;
        justify-content: space-evenly;
    }

    .pop-btn {
        padding: 1rem;
        font-size: 1rem;
    }

    .pop-btn:hover {
        background-color: var(--grey);
        border: 1px solid var(--grey);
        color: var(--white);
    }

    .product-card {
        max-width: 400px;
        margin: 0 1rem;
    }

    /************* kategorier *****************/

   .categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 300px 1fr;
        padding: 0.1rem;
        gap: 0.5rem;
        width: 100%;
        height: auto;
   }

   .category-card {
    margin: 0;
    }

    .card1 {
        grid-column: 1;
        grid-row: 1;
    }
    .card2 {
        grid-column: 2;
        grid-row: 1;
    }
    .card3 {
        grid-column: 3;
        grid-row: 1/3;
    }
    .card4 {
        grid-column: 1/3;
        grid-row: 2/4;
    }
   
    /******************* Anmeldelser ************/

    #reviews {
        max-width: 1200px;
    }

    #reviews h2 {
        font-size: 2rem;
    }

    .review-card {
        width: 25%;
    }
   
/* Side scroll in desktop */

.side-scroll-parent {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    max-width: 1200px;
}

.side-scroll-child {
    flex: 0 0 auto;
}

/***************************************** Produkt *************************************/

#product-section {
    margin: 0 auto;
}

.products {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    margin: 0 auto;
    height: auto;
}

.product-images {
    width: 60%;

    position: sticky;
    top: 0;
}

.product-info-section {
    width: 30%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;

    /*overflow-y fungerer ikke helt som jeg vil*/
}

.details-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: 2rem;
}

.details-section details {
    cursor: pointer;
}


.product-info {
    padding:0;
}

.product-info select:hover {
    border: 1px solid var(--dark-grey);
}

.black-btn:hover {
    background-color: var(--light-grey);
    transition: 0.5s ease-in-out;
}

.white-btn:hover {
    color: var(--peach);
    transition: 0.5s ease-in-out;
}

   
/****************** lignende produkter ********************/

     #similar-product h2 {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-left: 1rem;
     }

     #similar-product {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0;
     }

     .similar-products {
        max-width: 1200px;
        padding: 0;
        gap: 0;
     }

     .similar-arrow {
        justify-content: flex-end;
        margin-bottom: 1rem;
    }
     .similar-arrow a {
        font-size: 1rem;
     }

    /*********************************** Kasseside  *******************************************/
    
    #checkout {
        display: flex;
        flex-direction: column;
        justify-content: center;
       padding: 2rem 0;
    }

    /************ shoppingbag *************/
      #checkout h1 {
        font-size: 1.6rem;
      }

      #shopping-bag,
      #information,
      #delivery,
      #payment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0;
        width: 100%;
        border: 1px solid var(--light-grey);
        }

        #checkout h2 {
            font-size: 1.5rem;
            margin: 0 auto;
            width: 60%;
            padding-bottom: 1.5rem;
        }

        #checkout h3 {
            margin-bottom: 0;
            width: 60%;
            padding-bottom: 0.5rem;
        }

      .shoppingbag-item {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        height: auto;
        width: 60%;
        padding: 0;
        margin: 0.5rem 1rem;
      }

      .shoppingbag-info {
        width: 100%;
        padding: 1rem;
        margin: 0;
        line-height: 1rem;
      }

      .shoppingbag-info ul {
        margin-bottom: 1rem;
      }
    
      .shoppingbag-info ul li {
        font-size: 0.8rem;
      }

      .shoppingbag-icons {
        display: flex;
        flex-direction: column;   
        gap: 0.5rem;
        margin: 0;
      }

    .shoppingbag-item select {
        background-color: var(--light-grey);
        border: none;
        padding: 0.7rem;
        margin-right: 0.5rem;
        font-size: 0.6rem;
    }
    
    .shoppingbag-item input {
        padding: 0.5rem;
        border: 1px solid var(--light-grey);
        color: var(--black);
    }

      /********* dine opplysninger **********/

      .form-information {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        width: 60%;
    }

    .form-information label {
        margin: 0.5rem 0;
        visibility: visible;
        position: static;
    }

        .form-information input:focus {
            border: 1px solid var(--dark-grey);
        }
        
        .form-info-btn {
            width: 60%;
        }

        #form-info-abort {
            width: 100%;
            text-align: center;
        }
        
        /*********** Levering *********/

        #form-delivery h3 {
            align-self: center;
        }

        .delivery-option {
            width: 60%;
            margin: 1rem auto;
            position: relative;
        }

        .delivery-icon {
            position: absolute;
            top: 0;
            right: 1rem;
        }

        .delivery-option ul li:first-child {
            font-weight: 700;
            font-size: 0.9rem;
            color: var(--grey);
        }

        /************* Betaling *************/

        #form-payment {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 60%;
            margin-top: 1rem;
        }

        .checkboxes {
           justify-content: center;
            align-items: center;
        }

        .checkboxes label {
            font-weight: 400;
        }

        .checkboxes #price {
            font-size: 1.6rem;
            font-weight: 800;
            margin: 0;
        }

        .checkboxes p {
            width: 60%;
            margin: 0 auto;
            padding: 1rem 0;
        }

        .checkboxes #price,
        .checkboxes h3 {
            text-align: center;
        }
}